/* CSS Document */
table{
	font-family:arial;
	width:100%;
	border-top:1px solid black;
	border-left:1px solid black;
	border-collapse:collapse;
	}
td{
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:10px;
}
.quarterspace{width:25%}
h1{color:red;}